<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <p-toast></p-toast>
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <div class="my-2">
            <button
              pButton
              pRipple
              label="New"
              icon="pi pi-plus"
              class="p-button-success mr-2"
              (click)="openNew()"
            ></button>
            <button
              pButton
              pRipple
              label="Delete"
              icon="pi pi-trash"
              class="p-button-danger"
              (click)="deleteSelectedProducts()"
              [disabled]="!selectedProducts || !selectedProducts.length"
            ></button>
          </div>
        </ng-template>

        <ng-template pTemplate="right">
          <button
            pButton
            pRipple
            label="Export"
            icon="pi pi-upload"
            class="p-button-help"
            (click)="dt.exportCSV()"
          ></button>
        </ng-template>
      </p-toolbar>

      <p-table
        #dt
        [value]="(productService.getItems$() | async) ?? []"
        [columns]="cols"
        responsiveLayout="scroll"
        [rows]="10"
        [globalFilterFields]="[
          'name',
          'cost_price',
          'selling_price',
          'company',
          'barcode'
        ]"
        [paginator]="true"
        [rowsPerPageOptions]="[10, 20, 30]"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [(selection)]="selectedProducts"
        selectionMode="multiple"
        [rowHover]="true"
        dataKey="uuid"
      >
        <ng-template pTemplate="caption">
          <div
            class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
          >
            <h5 class="m-0">Manage Products</h5>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
              <i class="pi pi-search"></i>
              <input
                pInputText
                type="text"
                (input)="onGlobalFilter(dt, $event)"
                placeholder="Search..."
                class="w-full sm:w-auto"
              />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="barcode">
              Barcode <p-sortIcon field="barcode"></p-sortIcon>
            </th>
            <th pSortableColumn="name">
              Name <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="company">
              Company <p-sortIcon field="company"></p-sortIcon>
            </th>
            <th pSortableColumn="cost_price">
              Cost Price <p-sortIcon field="cost_price"></p-sortIcon>
            </th>
            <th pSortableColumn="selling_price">
              Selling Price <p-sortIcon field="selling_price"></p-sortIcon>
            </th>

            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr>
            <td>
              <p-tableCheckbox [value]="product"></p-tableCheckbox>
            </td>
            <td style="width: 14%; min-width: 10rem">
              <span class="p-column-title">Barcode</span>
              {{ product.barcode }}
            </td>
            <td style="width: 14%; min-width: 10rem">
              <span class="p-column-title">Name</span>
              {{ product.name }}
            </td>
            <td style="width: 14%; min-width: 10rem">
              <span class="p-column-title">Company</span>
              {{ product.company }}
            </td>
            <td style="width: 14%; min-width: 8rem">
              <span class="p-column-title">Cost Price</span>
              {{ product.cost_price | currency : "ILS" }}
            </td>
            <td style="width: 14%; min-width: 8rem">
              <span class="p-column-title">Selling Price</span>
              {{ product.selling_price | currency : "ILS" }}
            </td>
            <td>
              <div class="flex">
                <button
                  pButton
                  pRipple
                  icon="pi pi-pencil"
                  class="p-button-rounded p-button-success mr-2"
                  (click)="editProduct(product)"
                ></button>
                <button
                  pButton
                  pRipple
                  icon="pi pi-trash"
                  class="p-button-rounded p-button-warning"
                  (click)="deleteProduct(product)"
                ></button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <p-dialog
      [(visible)]="productDialog"
      [style]="{ width: '450px' }"
      header="Product Details"
      [modal]="true"
      class="p-fluid"
    >
      <ng-template pTemplate="content">
        <div class="field">
          <label for="price">Barcode</label>
          <p-inputNumber
            id="price"
            [(ngModel)]="product.barcode"
            mode="currency"
            [required]="true"
            autofocus
            currency="ILS"
            locale="en-US"
            [ngClass]="{ 'ng-invalid ng-dirty': submitted && !product.barcode }"
          ></p-inputNumber>
          <small
            class="ng-dirty ng-invalid"
            *ngIf="submitted && !product.barcode"
            >Barcode is required.</small
          >
        </div>
        <div class="field">
          <label for="name">Name</label>
          <input
            name="name"
            #name="ngModel"
            type="text"
            pInputText
            id="name"
            [(ngModel)]="product.name"
            required
            [ngClass]="{ 'ng-invalid ng-dirty': submitted && !product.name }"
          />
          <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.name"
            >Name is required.</small
          >
        </div>
        <div class="field">
          <label for="company">Company</label>
          <input
            name="company"
            #company="ngModel"
            type="text"
            pInputText
            id="company"
            [(ngModel)]="product.company"
          />
        </div>
        <div class="field">
          <label for="price">Cost Price</label>
          <p-inputNumber
            id="price"
            [(ngModel)]="product.cost_price"
            mode="currency"
            currency="ILS"
            locale="en-US"
          ></p-inputNumber>
        </div>
        <div class="field">
          <label for="price">Selling Price</label>
          <p-inputNumber
            id="price"
            [(ngModel)]="product.selling_price"
            mode="currency"
            currency="ILS"
            locale="en-US"
          ></p-inputNumber>
        </div>
      </ng-template>

      <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          label="Cancel"
          icon="pi pi-times"
          class="p-button-text"
          (click)="hideDialog()"
        ></button>
        <button
          pButton
          pRipple
          label="Save"
          icon="pi pi-check"
          class="p-button-text"
          [disabled]=""
          (click)="saveProduct()"
        ></button>
      </ng-template>
    </p-dialog>

    <p-dialog
      [(visible)]="deleteProductDialog"
      header="Confirm"
      [modal]="true"
      [style]="{ width: '450px' }"
    >
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="product"
          >Are you sure you want to delete <b>{{ product.name }}</b
          >?</span
        >
      </div>
      <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          icon="pi pi-times"
          class="p-button-text"
          label="No"
          (click)="deleteProductDialog = false"
        ></button>
        <button
          pButton
          pRipple
          icon="pi pi-check"
          class="p-button-text"
          label="Yes"
          (click)="confirmDelete()"
        ></button>
      </ng-template>
    </p-dialog>

    <p-dialog
      [(visible)]="deleteProductsDialog"
      header="Confirm"
      [modal]="true"
      [style]="{ width: '450px' }"
    >
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span>Are you sure you want to delete selected products?</span>
      </div>
      <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          icon="pi pi-times"
          class="p-button-text"
          label="No"
          (click)="deleteProductsDialog = false"
        ></button>
        <button
          pButton
          pRipple
          icon="pi pi-check"
          class="p-button-text"
          label="Yes"
          (click)="confirmDeleteSelected()"
        ></button>
      </ng-template>
    </p-dialog>
  </div>
</div>
